<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.3.1.120" targetFramework="net472" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net472" />
  <package id="Costura.Fody" version="6.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Extended.Wpf.Toolkit" version="5.0.0" targetFramework="net472" />
  <package id="ExtendedNumerics.BigDecimal" version="3003.0.0.346" targetFramework="net472" />
  <package id="Fody" version="6.9.3" targetFramework="net472" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.12.4" targetFramework="net472" />
  <package id="Melanchall.DryWetMidi" version="8.0.3" targetFramework="net472" />
  <package id="MemoryMessagePipe" version="1.0.5.0" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Console" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.TraceSource" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.ObjectPool" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.5" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net472" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.7.1" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="NKristek.Wpf.Converters" version="2.0.2" targetFramework="net472" />
  <package id="NLog" version="6.1.1" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net472" />
  <package id="NLog.Schema" version="6.1.1" targetFramework="net472" />
  <package id="Octokit" version="14.0.0" targetFramework="net472" />
  <package id="Ookii.Dialogs.Wpf" version="5.0.1" targetFramework="net472" />
  <package id="Parlot" version="1.5.7" targetFramework="net472" />
  <package id="Sanford.Multimedia.Midi" version="6.7.3" targetFramework="net472" />
  <package id="SplashScreenGdip" version="1.0.8" targetFramework="net472" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="10.0.5" targetFramework="net472" />
  <package id="System.Console" version="4.3.1" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.5" targetFramework="net472" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="10.0.5" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="10.0.5" targetFramework="net472" />
  <package id="System.Text.Json" version="10.0.5" targetFramework="net472" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net472" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net472" />
  <package id="VirtualizingWrapPanel" version="2.5.1" targetFramework="net472" />
  <package id="WatsonWebsocket" version="4.1.8" targetFramework="net472" />
  <package id="WpfScreenHelper" version="2.1.1" targetFramework="net472" />
  <package id="WriteableBitmapEx" version="1.6.11" targetFramework="net472" />
</packages>